--- 
layout: layout 
title: "Rodrigo Martell" 
---

<div class="row ">
    {% for post in site.posts offset: 0 limit: 4 %}
    <div class="col-sm-3 text-center">
        <h3>{{ post.category }}</h3>
        <span class="text-muted">
            <small>{{ post.date | date: "%B %e, %Y" }}</small>
        </span>
        <h4><a href="{{ post.url }}">{{ post.title }}</a>
        </h4>
    </div>
    {% endfor %}
</div>

{% include divider.html %}

<div class="row"> 
  <div class="text-center">
    {% include post_tags_ul.html %}
  </div>
</div>

{% include divider_invisible.html %}

<div class="row">
    <div class="col-sm-12 text-center">
        <p>I live in Melbourne, Australia with my beautiful wife, Lauren, and fuzzy dog, Pepe.</p>

        <p>I have an interest in all things web, and spend every spare moment experimenting with anything new and interesting in this space with a view of applying it to my work or simply for fun.</p>

        <p>An undergraduate degree in econometrics was followed by a strong interest in web application development.</p>

        <p>A plate-full of self-teaching and a healthy dose of experimentation lead to a Master in IT and currently a PhD Comp, which I study part-time while holding down a full-time job as an economist/developer (more wearing the hat of the latter) at a small consulting firm.</p>

        <p>This blog is one of those written primarily for self-reference to record thoughts and impressions about things I come across, yet open to anyone who may find its content of any interest or use. It serves a secondary random stuff purpose for unrelated happenings in my life of little interest to anyone but myself and family or friends.</p>

    </div>
</div>
