<div class="row">
  <div class="text-center">
      <img src="http://www.gravatar.com/avatar/e7f2aaa0cd976fd7a896c0684f49cba0.png" alt="Rodrigo Martell" class="img-circle" width="100" height="100">
  </div>
</div>

<div class="row">
  <div class="text-center">
    <div class="page-header text-center no-topspace">
      <h1>Rodrigo Martell</h1>
      <ul class="list-inline">
        <li><a href="https://github.com/coderigo" target="_blank"><i class="fa fa-github-square fa-2x"></i></a></li>
        <li><a href="http://au.linkedin.com/in/rodrigomartell/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
        <li><a href="http://stackexchange.com/users/1673426/learnbytinker" target="_blank"><i class="fa fa-stack-overflow fa-2x"></i></a></li>
        <li><a href="https://plus.google.com/116323328945131755492/posts" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
        <li><a href="mailto:rodrigo.martell@gmail.com" target="_blank"><i class="fa fa-envelope fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</div>