            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                  <h2>
                      <small>{{ post.summary }}</small>
                  </h2>
                  <span class="text-muted">
                      <small>{{ post.date | date: "%B %e, %Y" }}</small>
                  </span>

                  {% include post_tags_ul.html %}

                  {% if post.image %}
                    <img src="/img/posts/{{ post.image }}" alt="Post image" class="img-responsive center-block post-image-preview">
                  {% endif %}
                </div>
            </div>

            {% include divider_invisible.html %}