---
layout: layout
---

<!-- Tag index Heading -->
<div class="row">
    <div class="col-sm-12 text-center">
      <h2>
          <span class="label label-tags-heading"><i class="fa fa-tag"></i> {{page.title}}</span>
      </h2>
    </div>
</div>

<!-- Posts belonging to this tag category -->

{% include divider_invisible.html %}

{% for post in site.posts %}
    {% for tag in post.tags %}
        {% if tag == page.tag %}

          {% include post_list_item.html %}

        {% endif %}
    {% endfor %}
{% endfor %}